<%- include("./layout/contact/head.ejs") %>

      <%- include("./layout/modal.ejs") %>

      <div class="container-fluid page" >

        <div class="row">
            <div class="col-12 navbar_container"></div>
        </div>

        <div class="showcase_container">
          <%- include("./layout/contact/landing.ejs") %>
        </div>

        <div class="relative">
          <%- include("./layout/contact/business_hours.ejs") %>
          <%- include("./layout/contact/social_media.ejs") %>
          <%- include("./layout/contact/rain_check.ejs") %>
          <%- include("./layout/contact/subscribe.ejs") %>
        </div>

        <div class="footer_contact">
          <%- include("./layout/footer.ejs") %>
        </div>

      </div>


    <div class="margin-top-small-neg">  </div>

<%- include("./layout/contact/end.ejs") %>
