<%- include("./layout/home/head.ejs") %>

  <%- include("./layout/modal.ejs") %>

    <div class="container-fluid home_page" >

      <div class="navbar_wrapper">
          <div class="navbar_container showcase_navbar">
            <%- include("./layout/navbar.ejs") %>
          </div>
      </div>

      <div class="relative c2ontent">

        <%- include("./layout/home/landing.ejs") %>
        <%- include("./layout/home/why_us.ejs") %>

        <%- include("./layout/home/values.ejs") %>

        <div class="pd">
          <%- include("./layout/home/clean.ejs") %>
          <%- include("./layout/home/quote.ejs") %>
          <%- include("./layout/home/google_reviews.ejs") %>

          <%- include("./layout/home/slideshow.ejs") %>

          <%- include("./layout/home/subscribe.ejs") %>
          <%- include("./layout/home/the_work.ejs") %>
        </div>

      </div>

      <div class="relative max-z">
        <%- include("./layout/footer.ejs") %>
      </div>

    </div>


<%- include("./layout/home/end.ejs") %>
